


.image{
    width:300px;
    height: 100px;
    display: flex;

}
.image img{
    width: 300;
    height: 100;
    
    border-radius: 50%;
    border: 1px solid rgb(130, 65, 241);

}
*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #0b3cdb;
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;


}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
    

}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;

}
a.active,a:hover{
    background-color: cadetblue;
    transition-duration: 0.5s;

}
